body{
    font-family: monospace;
    font-size: 30px;
    text-transform: uppercase;
}

header{
    
    width: 100%;
    height: 80px;
    line-height: 80px;

}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    width: 100%;
    background-color: rgb(100, 100, 231);
}


.my_container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 500px;
    width: 500px;
    
    
}

 .cell{
    display:flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid black;
    
  
}
.square100{
    
    width: calc(100%/10);
    height: calc(100%/10);
   
    
    
}
.square81{
    
    width: calc(100%/9);
    height: calc(100%/9);

    
    
}

.square49{
    
    width: calc(100%/7);
    height: calc(100%/7);
    
    
    
}




.active{
    background-color: rgb(10, 155, 212);
    
}